*.lnk
*.xlsx
PhenoCam_image_processing/tidal_sites/tides5.py
PhenoCam_image_processing/tidal_sites/try2.csv
PhenoCam_image_processing/tidal_sites/try1.csv
*.pyc
SeasonSpotter_creation/workflows/workflows.zip
*.txt
*.csv
*.jpg